/*Breadcrumbs*/
.breadcrumbs {
	height: 40px;
	border-top: 1px solid #ccc;
}

.breadcrumbs__link {
	font-size: 0.8em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	line-height: 40px;
	color: #007bff; 
	position: relative;
}

.breadcrumbs__link:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #007bff;
}

.breadcrumbs__link:hover:after {
	height: 1px;
}

.breadcrumbs__del {
	font-weight: bold;
	margin: 0 5px;
	font-size: 0.8em;
	line-height: 40px;
}

.breadcrumbs__active {
	font-size: 0.8em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
	color: #666;
}