.card {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card__item {
	text-decoration: none;
	border: 1px solid #ccc;
	width: 280px;
	transition: box-shadow .3s linear;
	margin-bottom: 15px;
}

.card__item:hover {
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

.card__item:hover .card__cart-link {
	height: ;
}

.card__header {
	height: 30px;
	position: relative;
}

.card__mark-action {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
	background: #fbc217;
	text-align: center;
	color: #fff;
	font-size: .7em;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.card__mark-action i {
	margin-right: 5px;
}

.card__item-code {
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	color: #666;
}

.card__img {
	height: 190px;
	overflow: hidden;
	display: flex;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.card__img img {
	max-width: 230px;
	height: auto;
	margin: auto;
}

.card__product {
	font-size: 1.2em;
	color: #007bff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 40px;
}

.card__cart-link {
	width: 200px;
	height: 0;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: .9em;
	background: #007bff;
	color: #fff;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
	transition: height .3s linear, background .3s linear;
}

.card__item:hover .card__cart-link {
	height: 40px;
}

.card__cart-link:hover {
	background: #009a4c;
}

.card__cart-icon {
	margin-right: 15px;
	font-size: 1.3em;
	color: #fbc217;
	line-height: 40px;
}

.card__footer {
	height: 60px;
	text-align: center;
}

.card__buy-click {
	color: #007bff;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	line-height: 60px;
	margin-right: 30px;
}

.card__custom-compare {
	color: #007bff;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	line-height: 60px;
}

.card__custom-compare i {
	font-size: 1.3em;
}

.card__buy-click:hover, .card__custom-compare:hover {
	text-decoration: underline;
}
