.catalog {
	width: 280px;
	font-family: 'Open Sans', sans-serif;
}

.catalog__list {
	list-style: none;
	border: 1px solid #007bff;
	border-top: none;
}

.catalog__header {
	height: 40px;
	padding-left: 15px;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	background: #007bff;
	text-transform: uppercase;
}

.catalog__burger {
	margin-left: 70px;
	font-size: 1.3rem;
}

.catalog__item {
	height: 35px;
	border-top: 1px solid #ebebeb;
	padding: 0 40px 0 15px;
	position: relative;
}

.catalog__item:first-child {
	border-top: none!important;
}

/*.catalog__item:before {
	content: '';
	display: none;
	width: 2px;
	height: 50px;
	background: #007bff;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -1px;
}*/

.catalog__item:hover {
	cursor: pointer;
	border-top: 1px solid #007bff;
	border-bottom: 1px solid #007bff;
}

.catalog__item:hover:before {
	display: block;
}

.catalog__item:hover .catalog__arrow {
	color: #000;
}

.catalog__link {
	text-decoration: none;
	color: #444;
	line-height: 35px;
	font-size: 14px;
	position: relative;
}

.catalog__item:hover .catalog__link {
	color: #007bff; 
}

.catalog__arrow {
	position: absolute;
	top: 17px;
	right: 20px;
	font-size: 20px;
	color: grey;
}
