.filters {
	background: #fdfdfd;
	border: 1px solid #ebebeb;
	margin-top: 20px;
}

.filters__header {
	padding: 15px 20px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

.filter {
	border-top: 1px solid #ebebeb;
}

.filter__name {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding: 10px 0 10px 20px;
	vertical-align: middle;
	position: relative;
}

.filter__name:hover {
	cursor: pointer;
	color: #007bff;
}

.filter__triangel {
	position: absolute;
	top: 10px;
	right: 15px;
}

.filter__item {
	padding: 3px 0 3px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #444;
	line-height: 20px;
}

.filter--num {
	font-size: 14px;
}

input[type=checkbox] {display: none;}

input[type=checkbox] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 900;
    line-height: 12px;
    margin: -5px 8px 0 0;
    height: 12px;
    width: 12px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    background: #fff;
}

input[type=checkbox]:checked + label:before {
    color: #000;
    border-color: #000;
}

