.header {
	position: relative;
	padding-top: 35px;
}

/*Header Top*/
.t-header {
	border-bottom: 1px solid #007bff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #fff;
}

.t-header__inner {
	height: 35px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	line-height: 35px;
}

/*Header Sale*/
.h-sale {
	display: inline-block;
	margin-right: 20px;
}

.h-sale__icon {
	color: #fbc217;
	margin-right: 7px;
	font-size: 18px;
}

.h-sale__link {
	font-size: 14px;
	color: #000;
}

.h-sale__link:hover {
	text-decoration: underline;
}

/*Header Menu*/
.h-menu {
	display: inline-block;
}

.h-menu__link {
	margin-right: 20px;
	color: #666;
	font-size: 14px;
}

.h-menu a:hover {
	text-decoration: underline;
}

/*Header User*/
.h-user__auth {
	font-size: 14px;
	color: #666;
}

.h-user__auth:hover {
	text-decoration: underline;
}

.h-user__icon {
	margin-right: 10px;
	color: #007bff;
	font-size: 16px;
}

/*Header Bottom*/
.b-header {
	max-width: 1200px;
	height: 90px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Logo*/
.logo {
	height: 60px;
}

.logo img {
	height: 100%;
}

/*Header Phone*/
.h-phone {
	width: 195px;
	height: 50px;
}

.h-phone__number {
	font-size: 1.5rem;
	color: #000;
	letter-spacing: 1px;
}

.h-phone__callback a {
	text-decoration: none;
	font-weight: 200;
	font-style: italic;
	font-size: 1rem;
	color: #666;
}

.h-phone__callback a:hover {
	text-decoration: underline;
	color: #007bff;
}

.h-phone__icon {
	font-size: 18px;
	color: #007bff;
	transform: rotate(20deg);
}

/*Cart*/
.h-cart {
	width: 170px;
	height: 40px;
	border: 1px solid grey;
}

.h-cart__title {
	font-size: 1.1rem;
	color: grey;
	line-height: 40px;
	vertical-align: middle;
}


.h-cart__icon {
	font-size: 20px;
	line-height: 40px;
	color: grey;
	vertical-align: middle;
	margin: 0 5px;
}

.h-cart__stat {
	font-style: italic;
	font-size: 1rem;
	color: #999;
}

/*Search*/
.search {
	width: 500px;
}

.search__input {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-style: italic;
	padding: 0 4px;
	height: 40px;
	border: 2px solid #fbc217;
}
